@media (max-width: 991.98px) {

    /* common */
    .container {
        max-width: calc(100% - 80px);
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    /* header */
    header {
        position: relative;
    }

    .toggle-icon {
        display: block;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        left: 0;
        z-index: 99;
        width: 60%;
        top: 78px;
        background: var(--razzmatazz-color);
        padding: 15px 0;
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        transition: .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: .3s linear;
        -ms-transition: .3s linear;
        -o-transition: .3s linear;
    }

    .menu li:not(:last-child) {
        margin-right: 0;
    }

    .menu li:last-child {
        display: none;
    }

    .menu a,
    .menu i {
        color: #fff;
    }

    .cart-icon {
        display: block;
        font-size: 18px;
    }

    #nav-toggle:checked~.menu {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    /* banner start */
    .banner {
        grid-column-gap: 50px;
    }

    .banner-left h2 {
        font-size: 25px;
        line-height: 40px;
    }

    .banner-right img {
        width: 300px;
    }

    /* Badge logo */
    .badge-logo-img {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .badge-img img {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    .badge-img {
        width: 25%;
    }

    .badge-logo hr {
        border-top: none;
    }

    .mt-20 {
        margin-top: 20px;
    }

    /* Collection */
    .collections {
        padding: 50px 0 50px;
    }

    .collection {
        grid-template-columns: repeat(2, auto);
    }

    .collection-item {
        max-width: 300px;
    }

    .see-btn {
        text-align: center;
        padding-right: 0;
    }

    /* featured */
    .featured {
        column-gap: 50px;
    }

    .featured-right h2 {
        line-height: 36px;
        font-size: 25px;
    }


}

@media (max-width: 850.98px) {
    .featured {
        grid-template-columns: repeat(1, auto);
    }

    /* featured */
    .featured {
        grid-column-gap: 0px;
        row-gap: 35px;
    }

    .featured-left {
        order: 2;
    }


    .featured-right {
        order: 1;
        text-align: center;
    }

    /* Social Media */
    .follows {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 668.98px) {

    /* common */
    .container {
        max-width: calc(100% - 10px);
    }

    /* header part */
    .logo h1 a {
        font-size: 18px;
    }

    /* banner start  */
    .banner {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
    }

    .banner-left {
        order: 2;
        margin-top: 30px;
        text-align: center;
    }

    .banner-right {
        order: 1;
        justify-content: center;
    }

    .banner-right img {
        width: 100%;
    }

    /* Collection */
    .collection {
        grid-template-columns: repeat(1, auto);
    }


    /* Social Media */
    .follows {
        grid-template-columns: repeat(2, 1fr);
    }

    .follow-title {
        font-size: 20px;
        line-height: 30px;
    }

}